server:
  port: ${PORT:8080}

spring:
  application:
    name: backend

  datasource:
    url: ${DATABASE_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
    show-sql: true

  flyway:
    enabled: false
    baseline-on-migrate: true
    locations: classpath:db/migration

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${EMAIL}
    password: ${EMAIL_PASSWORD}
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true

jwt:
  secret: ${SECRET_KEY}
  EMAIL_KEY: ${EMAIL_KEY}
  qrKey: ${QR_KEY}
  access-token-validity-seconds: ${ACCESS_TOKEN}
  refresh-token-validity-seconds: ${REFRESH_TOKEN}
  email-token-validity-seconds: ${EMAIL_TOKEN}
  qr-token-validity-seconds: ${QR_TOKEN}
cloudinary:
  cloud-name: ${CLOUDINARY_CLOUD_NAME}
  api-key: ${CLOUDINARY_API_KEY}
  api-secret: ${CLOUDINARY_API_SECRET}
qr:
  base-url: http://172.16.25.32:8080/api/qr/verify?t=
  width: 300
  height: 300
